<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include './includes/head.html' %}

<body>
  <div class="wrap">
	  <div class="container fill text-center" >
	  	
	        <section class="container transparent-grey">
	        	<h1 mean-token="'home-default'"><strong>Welcome to WOD Rivals</strong></h1>
			    
			    <div>
			    	<h4>Track Your W.O.Ds and Personal Records</h4>
			    	
			    	<p class="text-center">
			    		Currently this app is in extreme alpha stages of development but I hope it can gather enough support to become a useful tool for crossfitters as well as boxes to track progress, set up new WODS and even challenge friends to complete WODS
			    	</p>
			    	<p class="text-center">
			    		If you would like to try it please log in. At the moment only facebook login is supported
			    	</p>
				    
				    
				    <a class="btn btn-block" href="/auth/facebook">
		            	<img src="/public/system/assets/img/Vk9SO.png"/>
		     		</a>
			     	
			    </div>
	        </section>
	   
	  	<div class="push"></div>
	  </div>
    </div>
  	<div class="landing-footer text-center">
	  	<div class="container">
	  		<p>The creator of this application is a proud member of</p>
	  		<a href="http://www.centralbuckscrossfit.com/"><img src="/public/system/assets/img/ResizeImage.jpg" style="max-width:100%;"></a>
	  	</div>
 	</div>
    {% include './includes/foot.html' %}
</body>

</html>