<div class="page-header" data-ng-controller="HeaderController">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="logo pull-left">
      <a class="navbar-brand" ui-sref="home" mean-token="'site-title'">Crossfit Rivals</a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="isCollapsed">
    <div class="left pull-left">
      <ul class="navbar-nav nav">
        <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
        </li>
        
        <!-- custom xs links when viewing on mobile-->
        <li class="visible-xs" ng-class="{active: $uiRoute}"><a>Profile</a></li>
        <li class="visible-xs" ng-class="{active: $uiRoute}"><a>Logout</a></li>
      </ul>
    </div>

    <div class="account">
      <div class="text-edit">
        <div class="pull-right" data-ng-show="global.authenticated" mean-token-editable></div>
      </div>
      <ul class="navbar-nav nav" data-ng-hide="global.authenticated">
        <li>
          <a href="/auth/facebook">
            <img src="/public/system/assets/img/facebook-logo.png"/>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav nav hidden-xs " data-ng-show="global.authenticated">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{global.user.name}} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="/logout">Signout</a>
                  </li>
              </ul>
          </li>
      </ul>
    </div>
  </div>
</div>